
node_modules/
package-lock.json
yarn.lock


tailwind.css
tailwind.config.js
postcss.config.js

*.log
*.caches


.env
.env.*.local


.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

dist/
build/

composer.lock
vendor
